:root {
    --base-font-size: 2rem;
    --main-bg-color: rgb(238, 243, 247);
    --main-bt-color: rgb(245, 181, 85);

}
@font-face {
    font-display: swap;
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 300;
    src: url('fonts/kalam-v18-latin-300.woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/kalam-v18-latin-regular.woff2');
}
@font-face {
    font-display: swap;
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 700;
    src: url('fonts/kalam-v18-latin-700.woff2');
}


       * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
        }
        
        body {
            display: flex;
            justify-content: center;
            font-family: 'Kalam', cursive;
}

input {
         font-family: inherit;
        height: 50px;
        }

        #main-container {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: var(--main-bg-color);
            width: 50%;
            }

            input[type="reset"], input[type="submit"] {
                font-size: var(--base-font-size);
                background-color: var(--main-bt-color);
                width: 20%;
                            }

#add-new-todo {
    field-sizing: content;
    width: 60%;
    font-size: var(--base-font-size);
}

            @media (max-width: 500px) {
                #main-container {
                    width: 100%;
                }
            }